*{
     padding: 0;
     margin: 0;
     box-sizing: border-box;
}
body{
     background-color: grey;
}
#loader{
     text-align: center;
     margin: 50px;
     color: #fff;
     font-weight: 900;
     font-size: 25px;
}
.container{
     max-width: 1200px;
     margin: 20px auto;
     font-family: sans-serif;
     color: #000;
     font-size: 18px;
     font-weight: 600;
}
.wrapper{
     display: flex;
     flex-wrap: wrap;
     width: 100%;
     justify-content: space-between;
     gap: 30px;
}
.card{
     display: flex;
     width: 30%;
     align-items: center;
     gap: 20px;
     padding: 10px;
     background-color: #d6c8c8;
     border-radius: 10px;
     box-sizing: border-box;
     /* position: relative; */
}
img{
     cursor: pointer;
     width: 50%;
     border-top-left-radius: 10px;
     border-bottom-left-radius: 10px;
}
.info{
     box-sizing: border-box;
}